@import "../../styles/global.scss";

    .boton{
        margin: 0 15px;

      background-color: #082f9b;
      color: #fff;
      padding: 10px 30px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: #0056b3;
      }
    }


.header{
    padding: 10px 15px;
}

.table{
    width: 100%;
  border-collapse: collapse;
  margin-top: 20px;

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #850c0c;
  }

  tr:nth-child(even) {
    background-color: $main-bg;
  }

  .botones{
    background-color: $main-bg;
    cursor: pointer;
  }
 
}

.asignar{
    margin: 0 15px;

      background-color: #082f9b;
      color: #fff;
      padding: 5px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: #0056b3;
      }
}

.eliminar{
    margin: 0 15px;

      background-color: #a0072d;
      color: #fff;
      padding: 5px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: #8b0303;
      }
}



