@import "../../../styles/variables.scss";
.contenedor {
    width: 500px;
    margin:  auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #1d9b86;

  
    h1 {
      font-size: 24px;
      margin-bottom: 20px;
      ;
    }
  
    .formulario {
      margin-bottom: 15px;
  
      label {
        display: block;
        font-weight: bold;
        margin-bottom: 5;
        padding-right: 15px;
      }
  
      input,select {
        margin-top: 15px;
        width: 300px;
        padding:5px 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 8px;
        display: inline-block;
      }
    }
  
    button {
        margin: 0 15px;

      background-color: #007bff;
      color: #fff;
      padding: 10px 30px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  }